<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" color="tertiary" class="toolbar">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div>
    <div class="topImg">
        
    </div>
    <div class="topDiv">
      
    </div>
    <div class="content">
      <div class="header">
        <H1 style="text-align: center; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Make your
          dreams happen.</H1>
      </div>
      <div>
        <h2 class="MSUDescribe">
          <p>Murray State University places the highest priority on student learning and excellent teaching, blending a
            diverse range of educational opportunities with small class sizes and dedicated faculty among the best in
            their field.</p>
        </h2>
      </div>
    </div>
    <div>
      <ion-card style="text-align: center; background-color: rgb(19, 4, 4);">
        <nav class="navCard">
          <h1 class="h1Card">
            <a [routerLink]="['/login']">Login</a> |
            <a href="#">Info</a>
          </h1>
        </nav>
      </ion-card>
    </div>
  </div>
</ion-content>